* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid_container {
    display: grid;
    /* padding:0.5rem ; */
    color: white;
    height: 120vh;
    width: 90%;
    margin: 2rem auto;
    background-color: white;
}

.grid {
    font-size: 20px;
    font-family: sans-serif;
    padding: 1rem;
    margin: 0.5rem;
    background-color: rgb(65, 105, 225);
}

.header {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
}

.small1 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 3;
}

.small2 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 3;
}

.small3 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 3;
}

.sidebar {
    grid-column: 4 / span 1;
    grid-row: 2 / span 6;
}

.main_content {
    grid-column: 1 / span 3;
    grid-row: 5 / span 2;
}

.footer {
    grid-column: 1 / span 3;
    grid-row: 7;
}