//**********************************************************************/
//* Variable Deglaration
//*********************************************************************/
$bgColor: pink;
$fontSize: 1.2rem;
$fontColor: white;
$navBgColor: #30a7c3;
$fontFamily: 'Segou UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$bannerBgColor: hotpink;
$myBorder: 1px solid brown;