/** 夾bir card olusturup, o card覺n yukar覺dan asag覺 inmesini sal覺yacaz ve bir s羹re durup yukar覺 geri gitmesini salayacag覺z  */
/*****! DROP-DOWN ANIMATION ********/
.container {
    display: flex;
    justify-content: center;
}

.card {
    background-color: coral;
    padding: 1rem;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
    max-width: 600px;
    margin: auto;
    text-align: center;
    animation: dropdown 4s ease-in-out forwards;
    position: absolute;

}

/* card class覺 son frame de dursun d覺ye forwards veriyoruz yani turuncu yer sayfan覺n yukar覺s覺ndan gelip ortas覺nda duracak */

.card button {
    border: none;
    padding: 1rem;
    background-color: red;
    color: antiquewhite;
    border-radius: 10px;
    width: 7rem;
    cursor: pointer;


}

.card button:hover {
    background-color: gainsboro;
}

@keyframes dropdown {

    /* baslang覺ctata -50 verdikki g繹r羹nmeyen yerden insin istedik  */
    0% {
        top: -50%;
    }



    /* 4 s n覺n en sonunda art覺k bunu kulland覺yor */
    /* 50% de enson card 覺n  sayfan覺n ortas覺nda durmas覺n覺 sagl覺yor  */
    /* mesela 100% deseydik o zaman sayfan覺n en sonun da dururdu  */
    100% {
        top: 50%;
    }
}