.p1{
    border:  10px 20px 15px ;
    border-style: solid;
    border-color: blue yellow red green;
}

.p2{
    border: 5px dashed red;
}

.p3{
    border: 10px solid red;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    background-color: chocolate;

}

.p4{
    border: 20px double blue;
}
.p5{
    border: ;
}