.cards {
    display: flex;
    gap: 0.5rem;
    padding: 0.8rem;

    .card1 {
        @include myBox(green, white);
    }

    .card2 {
        @include myBox(brown, white);
    }

    .card3 {
        @include myBox(yellow, black);
    }

    .card4 {
        @include myBox(rgb(40, 33, 56), white);
    }
}