* {
    margin: 0;

}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*! 4 tane 1frlik column oluştur dedik  */
    /* grid-template-rows: repeat(4, 25vh); */
    /*! 4 tane 25vhlik row oluşturduk  */
    grid-template-rows: 25vh repeat(3, calc(25vh - 0.5rem));
    /*! 25 vhdan 0.5 i çıkart ve bunu 3 kere tekrar et diyoruz tam oturtmak için bunu kullanıyoruz */
    row-gap: 0.5rem;
    /*! rowlar arasında boşluk verdim  */
    column-gap: 0.5rem;
    /*! columlar arasın boşluk verir  */
    /* gap: 1rem 2 rem; */
    /*! buda row-gap ile column-gapin ikisinin yaptıgı için aynısını yapar  */
}

.content {
    /** bu kısımda her bir kutuya hükmediyoruz unutma  */
    background-color: aquamarine;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /*! burada content kısmına verdiğimiz için content e in içinde ne varsa onlara hükmediyor burada yazi var yazılara hükmediyo burada da itemlerin her birine ortak seyler veriyoruz */
    cursor: pointer;
    /*?her bir kutuya egelince el işareti çıkıyor ya onu yaptık cursor:pointer ; diyerek    */


}

.c6 {
    justify-self: center;
    /*! bu ifade ile c6 yi yatayda kendi içindeki yazısı kadar hizalamış olduk yani bu kısımda itemlera bireysel olrak işlem yapıyourz  */
    width: 5rem;


}

.c11 {
    align-self: center;
    /*! bu ifade ile c11 yi dikey olrak hareket ettirdik  */
    height: 3rem;
}

.c1 {
    grid-column-start: 1;
    grid-column-end: 3;
    /*!burada sütunları birleştirdik birden başla dedik 3 e kadar git ama 3 ü alma dedik  */
    background-color: brown;
    /* dikkat edersek  sütunları genişledikten sonra content 2 sağa doğru yanyana kayıyor  */
}


.content img,
iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c4 {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: blanchedalmond;
    /*! buradada rowları birleştirdik  */
    /*! buradada 2den baila 4 kadar birleştir dedik burada da 4 dahil değil  */
}

.c8 {
    /*! burada amacımız 8 9 10 12 yi birleştirme  */
    background-color: crimson;
    /* grid-column-start: 2; */
    /* grid-column-end: 4; */
    /* grid-row-start: 3; */
    /* grid-row-end: 5; */
    /*! burada sutün olarak 2 den başla 4 e kadar git dedik rowdan da 3den başla 5 e kadar git dedik burada dikkat etmemiz gereken son 4 dedğimiz column son 5 dediğimiz rowlar dahil değil */

    grid-area: 3/2/5/4;

    /** grid-area:row_start/ col_start / row_end /col_end  */
    /*? 3 üncü row ve 2inci columndan başla 5 inci row a ve 4 üncü columna  kadar git diyoruz  */
}

.c2 {
    background-color: darkorange;
    grid-area: 1 / 3/ span 2 / span2;
    /*!   yukarıdakini bu şekildede yapabiliyoruz burada span brim olrak düşünebiliriz  */
}