//********************************************/
//* STYLE SCSS
//********************************************/
body {
    font-family: $fontFamily;
    background-color: $bgColor;
    font-size: $fontSize;
    color: $fontColor;
}