* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//**********************************************************/
//* Varieble Declaration
//**********************************************************/
$bgColor: pink;
$fontSize: 1.2rem;
$fontColor: white;
$navBgColor: #30a7c3;
$fontFamily: "Segoe UI",
    'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
$bannerBgColor: hotpink;
$myBorder: 2px solid brown;

//!👆Sass da degişkenlerı atarken basına $ işaretini kouyoruz ve bu degiskene atadıgmız isimlere camelCase deniyor.Bu degişkenleri artık istediğim yerde kullanabailrim isimleri ile istediğim yerde cagırıp kullanabilirim.
//! Atama yaptıgmız camelCaselere de kebapcase deniyor👇body nın içindekilere örnek göstrebilirz.👇
//**********************************************************/
//* Varieble Usage
//**********************************************************/
body {
    font-family: $fontFamily;
    background-color: $bgColor ;
    font-size: $fontSize;
    color: $fontColor;
}

//******* HEADER **********/
header {
    background-color: $navBgColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    img {
        width: 80px;
        border: $myBorder;
        border-radius: 10px;

    }

    ul {
        list-style-type: none;
    }

    li {
        display: inline-block;
        padding: 0.5rem;

        &:hover {
            text-decoration: underline;
            //!👆 li nin her birnin altına  & işaret ile hoverımızı koymuş oluoyruz.
            //! Bu & işareti bulundgumuz yer neresi ise orasını ifade edr: 
        }
    }

    // li:hover {
    //     text-decoration: underline;
    // }


    a {
        color: $fontColor;
        text-decoration: none;
        // padding: 0.5rem;

    }

}

//************** BANNER *************//