* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//**********************************************************/
//* Varieble Declaration
//**********************************************************/
$bgColor: pink;
$fontSize: 1.2rem;
$fontColor: white;
$navBgColor: #30a7c3;
$fontFamily: "Segoe UI",
    'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
$bannerBgColor: hotpink;
$myBorder: 2px solid brown;

//!👆Sass da degişkenlerı atarken basına $ işaretini kouyoruz ve bu degiskene atadıgmız isimlere camelCase deniyor.Bu degişkenleri artık istediğim yerde kullanabailrim isimleri ile istediğim yerde cagırıp kullanabilirim.
//! Atama yaptıgmız camelCaselere de kebapcase deniyor👇body nın içindekilere örnek göstrebilirz.👇
//**********************************************************/
//* Varieble Usage
//**********************************************************/
body {
    font-family: $fontFamily;
    background-color: $bgColor ;
    font-size: $fontSize;
    color: $fontColor;
}

//******* HEADER **********/
header {
    background-color: $navBgColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    img {
        width: 80px;
        border: $myBorder;
        border-radius: 10px;

    }

    ul {
        list-style-type: none;
    }

    li {
        display: inline-block;
        padding: 0.5rem;

        &:hover {
            text-decoration: underline;
            //!👆 li nin her birnin altına  & işaret ile hoverımızı koymuş oluoyruz.
            //! Bu & işareti bulundgumuz yer neresi ise orasını ifade edr: 
        }
    }

    // li:hover {
    //     text-decoration: underline;
    // }


    a {
        color: $fontColor;
        text-decoration: none;
        // padding: 0.5rem;

    }

}

//************** BANNER *************//
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bannerBgColor;
    padding: 1rem;
    //👆 paddingle iç hacim verdik.
    line-height: 2rem;
    // yazıların içini açtık 👆


    aside {
        button {
            background-color: $navBgColor;
            padding: 0.5rem;
            border: none;
            border-radius: 5px;
            margin-top: 1rem;
            margin-right: 0.5rem;

            &:hover {
                // iki butonada fare uzerine gelince rengi pembe olması için & bunu verdik 
                background-color: $bgColor;
                cursor: pointer;
            }

        }

    }

    img {
        width: 30%;
        min-width: 250px;
        max-width: 400px;
        // resimin sayfa buyugunce resim buyor sayfa kuculunce resım kuculuyor biz bunu engelliyoruz min-widt ve max-widh ile.
    }
}

//************** CARDS *************//
//******************
//! @MIXIN
//********************


@mixin myBox($backColor, $Color) {
    background-color: $backColor;
    color: $Color;
    width: 25%;
    height: 15rem;
    border: $myBorder;
    border-radius: 5px;
}

// Farklı özelliklere sahip olacak olanları parametre yapıyorum.
// Aynı ortak şeyelere sahip olacak olanları ortak class a alıp, @mixin içine süslü parantezin içine yazıyorum.Yani aslında devamlı kullanacak oldugum seyleri fonksiyon haline getirip kullanıyorum.
// 👆Burada yaptgımız seye ismen ✨declaration✨ diyoruz.  sonrada bunları kullanacagimiz yerde ✨ invok ✨ yapıyoruz. Yani kullanacagımız yerde cagırıyoruz.Aşagıdakiler invok yapımına örnek👇

.cards {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;


    .card1 {
        @include myBox(green, white);

    }

    .card2 {
        @include myBox(red, pink);
    }

    .card3 {
        @include myBox(yellow, black);
    }

    .card4 {
        @include myBox(blue, yellowgreen);
    }
}

//************ ARTICLES ************/
//***************************
//! @EXTEND
//*************************
// extend ile de aynı özelliklere sahip olacak olanları yapacaksak eger @extend ile (kopyala-yapıstr mantıgı ile)yapabilirz.
.articles {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    //    👆 gapler tasıyıcıya verilir.

    .article1 {
        background-color: grey;
        width: 50%;
        border: 1px solid black;
        border-radius: 5px;
        height: 10rem;

    }

    .article2 {
        @extend .article1;
        background-color: beige;
        color: red;
    }
}