@import "./variebles";
// 👆Footer dada variebles klasöründeki renkleri kullanacgımdan buraya variebles klasörünü import ediyorum 
// bu dosyamı da footer.jsx e import edicem oraya götrcem. 

.footer {
    background-color: $Paleta-1-5-hex;
    position: fixed;
    bottom: 0;
    //!👆 footer ı position:fixed ve bottom vererek sayfanın en altına yapıştırmış olduk 
    left: 0;
    right: 0;
    width: 100%;
    padding: 2rem;

    //!👆 Bu kodların dördünü verecek de genişlettik footerimizi 
    .title {
        color: white;
        text-align: center;
        //!👆 text allign ilede yazıyı ortaladık 
    }
}