h1{
    background-color: aquamarine;
    margin-bottom: 0;
    padding-right: 20px;
    padding-top: 50px;
}

#par1{
    box-sizing: border-box;
    background-color: coral;
    /* margin-top: 0; */
    margin-top: 50px auto;
    width: 250px;
    margin: auto;
    padding: 20px;;
}

#par2{
    background-color: aqua;
    padding-left: 50px;
    padding-right: 50px;
}

.container{
    border: solid red;
    margin: 20px;
    background-color: bisque;
    /* padding-left: 20px; */
}

