h3{
    margin: 2rem;
    border:1px solid red;
    outline: 4px solid purple;
    outline-offset: 10px;
    border-radius: 10px;
    width: 5rem;
    height: 5rem;
}

/*!outline-offset diyerek border ile outlinein arasını açmış olduk.*/