* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* ?👆 4 tane sütun olusturduk bu sekilde en basıdınden 
    grid-template-rows: repeat(4, 25vh); */
    /*?👆 Buradada kısaca 4 tane 25 vhlık row olusturmuş olduk  */
    /* ekran tam oturmuyor asagı dgru kayıyor bunu önlemek için çıkarma işlemi yapıcaz ekran aşağı dgru kayma yasadığı için row-gapın heightden cıkarıcaz. 👇*/
    grid-template-rows: 25vh repeat(3, calc(25vh - 0.5rem));
    /* bu işlem sayesinde artık ekrana tam oturuyor👆
    3 kere bu cıkarma işlemini tekrar et demişolduk 3 gaplık yer oldugundan doolayı */
    /*!!! DİKKAT bizim burda 25vh dediğimiz de bunun içinde borderda dahil olmuş oluyor */
    /* ekranın kayma nedeni:gaplardan yada marginlerden verdiğimiz bosluklardan dolayı oluyor bu ekranı düzeltmek için (tam oturtmak için) marginlerivb gapleri cıkarıcaz heightlerden */


    row-gap: 0.5rem;
    /*? row contentin asagı
    tarafına bosluk veriyor */
    column-gap: 0.5rem;
    /*?columda da columnun sonuna dgru bosluk veriyor yanı ssağdan doğru */
    /* gap: 1rem 2rem; */
    /*?👆bu sekilde verirsem gapi birincisi satırlar ikincisi sutunlar seklinde gap vermiş oluyorum  */
    /* gap: 1rem; */
    /*?👆 bu sekilde de hem satıra hem sutuna dgru 1rem vermiş oluyorum  */
}

.content {
    background-color: aquamarine;
    border: salmon solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c6 {
    /*!itemları biresysel olarak yatay düzlemde hizalar  */
    justify-self: center;
    width: 6rem;


}

.c11 {
    /*! itemi dikey olarak hizalıyor  */

    align-self: center;
    height: 3rem;
}

/* track etmek istersek👇 yani; content1 ile content2'yi birleştiriyoruz*/
.c1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: bisque;

}

/*!content4 ile content8'i birleştirelim 👇 */
.c4 {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(122, 102, 19);
}

/*! şimdi 8 9 12 13 ü birleştirelim👇*/
/* c8 in columunun 2sinden basla diyoruz 4 e kadar git.
Sonra row */
.c8 {
    background-color: chartreuse;
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5; */

    /*! Bu dördü tek satırda yapabilirz👇 */
    /*? grid-area:row_start / col_start / row_end / col_end */
    grid-area: 3 / 2 / 5 /4;

}

/*! content2 3 6 7 yi birleştirelim yani area yapalım şimdi de 👇 */

.c2 {
    background-color: pink;
    /* grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3; */
    /* grid-area: 1 / 3 / 3 / 5; */
    /*! farklı bır kullanımı daha👇 */
    grid-area: 1 / 3 / span 2 / span 2;
    /*? burada span demek brim olarak düşünebilirim baslasdgım yerden 2 brim git demek burada yaptıgımız sey yine aynı sonucu verir yani area yi verir bize hangisi bize en uygunsa onu yapabiliriz dedi noah hoca*/
}