@import 'theme.css';

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--ff-monteserrat);
    background-color: var(--mavi-9);
    color: var(--siyah);
    font-weight: 500;
    margin: 1rem;
}

h1 {
    background-color: var(--koyu-kirmizi);
    width: 20rem;
    border: 1px solid black;
    padding: 0.5rem;
    margin: 2rem auto;
    border-radius: 30px;
    text-align: center;
}

.header {
    background-color: var(--koyu-yesil);
    padding: 1rem;
    font: size 2rem;
    margin-bottom: 1rem;
}

.navbar {
    background-color: var(--gri-2);
    padding: 1rem;
    margin-bottom: 1rem;

}

.navbar a {
    text-decoration: none;
    color: var(--beyaz);
    margin: 1rem;
    transition: all 1s;
}

.navbar a:hover {
    background-color: var(--mavi-6);
    padding: 1rem;
    color: black;
    font-weight: 600;
}

.row {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;


}

.col {
    /* border: solid red; */
    padding: 1rem;

}

.fs {
    width: 35%;
    background-color: var(--gri-5);
}

.aws {
    width: 20%;
    background-color: var(--gri-7);
}

.data {
    width: 30%;
    background-color: var(--gri-8);
}

.cms {
    width: 15%;
    background-color: var(--gri-9);
}

/* her bir path e 100% e tamamlamaya calıstık ona göre % ler ayarlı */

@media screen and (min-width: 600px)and (max-width: 900px) {
    body {
        color: var(--beyaz);
        background-color: var(--acik-kirmizi);
    }

    .col {
        width: 50%;
        /* margin: 0.5rem 0; */
        /* her devasında marjin vermek zorundayız burada ki işlemde ama  bir defafa margin verirsek bir dahabir daha yapmak yerine bir kere vermemeiz yeterli olcaktır  */
        /* navbar a bi kere ✨margin-bottom✨ vermemiz yeterli olcaktr */
    }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    body {
        background-color: var(--mor);
        color: var(--beyaz);
    }

    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .header {
        display: none;
    }

    .col {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}