//*******  CARDS  *********/
//*****************
//! @MIXIN
//*****************
@import "variebles";

@mixin myBox($backColor, $color) {
    background-color: $backColor;
    color: $color;
    width: 25%;
    height: 15rem;
    border: $myBorder;
    border-radius: 5px;
}

// Mixinde baska yerden alınma bir sey var.
// $myBorder dısarıdan variebles dan geldiği için variablesı buraya mixins dosyasının içine import edicez.
//! DİKKAT!! $backColor ve $color parametre o yüzden import etmeyiz