/******* ANIMATION INTRO *******/

.outer {
    background-color: blue;
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

.inner {
    background-color: aqua;
    width: 50%;
    height: 50%;
    /* transition: transform 1s ease-in-out; */
}

/* outer ın üzerine geldiğinde inner i değiştir diyorum asagıdakını yaparak 👇*/
/* .outer:hover .inner {
    transform: translateX(100%);
} */

/*! bu acık mavi kutugu simdi asagı gitsin gelsin yukarı cıksın tekrar bunu yapıcaz simdi bu gibi durumlarda transition yerine animation u kullanmak daha mantıklıdır👇 */
.outer:hover .inner {
    animation: travel 1s ease-in-out;
    /* animation-iteration-count: 2; */
    /*👆 Mouseum outer divine geldiğinde innerım iki kere calısıyor  */
    animation-iteration-count: infinite;
    /* 👆 burada da sonsuz dersek hep durmadan calısacak  */
    /* animation-iteration-count: komutu bana yapmış oldugum animasyonumun  kaç kere tekrar edeceğini sağlıyor */
    /**👇 animasyon yönü */
    animation-direction: alternate;
}

/*? burada acık mavi renkde olan ınner dıvımızın 1s de 4 hareket yapıp kacıncı bırımlerde yani yüzdeliklerde hareket edeceğini ayarlıyoruz 👇 */
@keyframes travel {

    /*! baslangıc konumu */
    0% {
        transform: translateX(0);
    }

    /*! yüzde 33üncu konuma geldiğinde asagı in */
    33% {
        transform: translateY(100%);
    }

    66% {
        transform: translate(100%, 100%);
    }

    100% {
        transform: translateX(100%);
    }

}

/*! 4 asama old için zamanı esit aralıklara bölmek için buı sekilde yapıldı istediğğimiz gibi ayarlanabilir */